@import url(../css/common.css);
@import url(../css/reset.css);
@font-face { font-family: 'Gilroy'; src: url("../font/Gilroy-Regular.eot"); src: url("../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.svg#Gilroy-Regular") format("svg"), url("../font/Gilroy-Regular.ttf") format("truetype"), url("../font/Gilroy-Regular.woff") format("woff"), url("../font/Gilroy-Regular.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: 'Gilroy'; src: url("../font/Gilroy-Medium.eot"); src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.svg#Gilroy-Medium") format("svg"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.woff2") format("woff2"); font-weight: 500; }

@font-face { font-family: 'Gilroy'; src: url("../font/Gilroy-Bold.eot"); src: url("../font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.svg#Gilroy-Bold") format("svg"), url("../font/Gilroy-Bold.ttf") format("truetype"), url("../font/Gilroy-Bold.woff") format("woff"), url("../font/Gilroy-Bold.woff2") format("woff2"); font-weight: 700; }

@font-face { font-family: 'Gilroy'; src: url("../font/Gilroy-SemiBold.eot"); src: url("../font/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg"), url("../font/Gilroy-SemiBold.ttf") format("truetype"), url("../font/Gilroy-SemiBold.woff") format("woff"), url("../font/Gilroy-SemiBold.woff2") format("woff2"); font-weight: 600; }

@font-face { font-family: 'Noto Sans KR', sans-serif; src: url("../font/Noto Sans KR Regular.eot"); src: url("../font/Noto Sans KR Regular.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Regular.svg#Noto Sans KR Regular") format("svg"), url("../font/Noto Sans KR Regular.ttf") format("truetype"), url("../font/Noto Sans KR Regular.woff") format("woff"), url("../font/Noto Sans KR Regular.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Light.eot"); src: url("../font/Noto Sans KR Light.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Light.svg#Noto Sans KR Light") format("svg"), url("../font/Noto Sans KR Light.ttf") format("truetype"), url("../font/Noto Sans KR Light.woff") format("woff"), url("../font/Noto Sans KR Light.woff2") format("woff2"); font-weight: 300; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Medium.eot"); src: url("../font/Noto Sans KR Medium.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Medium.svg#Noto Sans KR Medium") format("svg"), url("../font/Noto Sans KR Medium.ttf") format("truetype"), url("../font/Noto Sans KR Medium.woff") format("woff"), url("../font/Noto Sans KR Medium.woff2") format("woff2"); font-weight: 500; }

@font-face { font-family: 'Noto Sans KR'; src: url("../font/Noto Sans KR Bold.eot"); src: url("../font/Noto Sans KR Bold.eot?#iefix") format("embedded-opentype"), url("../font/Noto Sans KR Bold.svg#Noto Sans KR Bold") format("svg"), url("../font/Noto Sans KR Bold.ttf") format("truetype"), url("../font/Noto Sans KR Bold.woff") format("woff"), url("../font/Noto Sans KR Bold.woff2") format("woff2"); font-weight: 700; }

body { font-size: 14px; min-width: 320px; color: #333; line-height: 1.2em; font-family: 'Gilroy', 'Noto Sans KR', sans-serif; }

body.noscroll { overflow: hidden; }

.inner { padding: 0 16px; }

.top_banner { background-color: #030303; color: #fff; font-size: 13px; height: 40px; line-height: 40px; font-weight: 400; text-align: center; }

.top_banner .kakao_ad { display: block; letter-spacing: -0.02em; }

.top_banner .kakao_ad::after { content: ''; display: inline-block; position: relative; z-index: 1; width: 17px; height: 18px; vertical-align: -4px; margin-left: 2px; background: url(../image/hd/kakao_ch.png) center no-repeat; background-size: cover; }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

header { position: fixed; z-index: 22; width: 100%; -webkit-transition: .3s; transition: .3s; }

header.on { left: 0; top: 0; background-color: #fff; }

header.on .logo_area .logo { background: url(../image/hd/logo_bl.svg) center no-repeat; }

header.on .logo_area .util_area .menu_btn .ic_menu { background-position: 0 -50px; }

header.on .logo_area .util_area .srh_btn01 .ic_srh { background-position: 0 -75px; }

header.on .logo_area .user_area .cart_btn .ic_cart { background-position: 0 -25px; }

header.on .logo_area .user_area .mypage_btn .ic_mypage { background-position: 0 0; }

header.on .cate_area { display: -webkit-box; display: -ms-flexbox; display: flex; }

header .logo_area { position: relative; height: 56px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

header .logo_area .logo { background: url(../image/hd/logo_wh.svg) center no-repeat; width: 87px; height: 23px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

header .logo_area .util_area { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 5px; }

header .logo_area .util_area > a { display: block; height: 100%; padding: 0 10px; }

header .logo_area .util_area > a > i { display: block; width: 100%; margin-top: 21px; }

header .logo_area .util_area .menu_btn { display: block; width: 22px; }

header .logo_area .util_area .menu_btn .ic_menu { height: 17px; background-position: -25px -50px; }

header .logo_area .util_area .srh_btn01 { width: 17px; }

header .logo_area .util_area .srh_btn01 .ic_srh { height: 18px; background-position: -25px -75px; }

header .logo_area .util_area .dimmed { position: absolute; display: none; z-index: 2200; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); opacity: 0; -webkit-transition: .5s; transition: .5s; }

header .logo_area .util_area .dimmed.on { display: block; opacity: 1; }

header .logo_area .util_area .menu { position: fixed; z-index: 2221; top: 0; left: -94%; width: 81%; height: 100%; background-color: #fff; padding: 0 24px 0 16px; -webkit-transition: .3s; transition: .3s; font-size: 11px; overflow-y: auto; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

header .logo_area .util_area .menu::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

header .logo_area .util_area .menu.on { left: 0; }

header .logo_area .util_area .menu .login_wrap { padding: 38px 0 26px; font-size: 13px; border-bottom: 1px solid #ddd; }

header .logo_area .util_area .menu .login_wrap a { display: inline-block; padding: 10px 26px; line-height: 15px; font-weight: bold; border-radius: 4px; letter-spacing: -1px; }

header .logo_area .util_area .menu .login_wrap a.link_login { color: #fff; background-color: #0e0e0e; }

header .logo_area .util_area .menu .login_wrap a.link_join { margin-left: 12px; background-color: #fff; border: 1px solid #ccc; }

header .logo_area .util_area .menu .login_wrap .login_msg { margin-top: 15px; color: #777; font-weight: 500; }

header .logo_area .util_area .menu .gnb_wrap { border-bottom: 1px solid #ddd; }

header .logo_area .util_area .menu .gnb_wrap .gnb { padding: 18px 0 11px; }

header .logo_area .util_area .menu .gnb_wrap .gnb .list_title { position: relative; display: block; padding: 15px 0; font-size: 18px; line-height: 20px; font-weight: 500; }

header .logo_area .util_area .menu .gnb_wrap .gnb .list_title.down::before { content: ''; position: absolute; right: 0; top: 7px; display: inline-block; width: 30px; height: 28px; -webkit-transition: .3s; transition: .3s; background: url(../image/btn/more_btn01.png) center no-repeat; }

header .logo_area .util_area .menu .gnb_wrap .gnb .list_title.down.on::before { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

header .logo_area .util_area .menu .gnb_wrap .gnb .sub { margin-bottom: 15px; display: none; }

header .logo_area .util_area .menu .gnb_wrap .gnb .sub .sub_list { display: none; }

header .logo_area .util_area .menu .gnb_wrap .gnb .sub li a { display: block; padding: 11px 0; color: #848484; font-size: 17px; line-height: 20px; font-weight: 400; }

header .logo_area .util_area .menu .user_wrap { padding: 18px 0 11px; }

header .logo_area .util_area .menu .user_wrap .user_list { position: relative; }

header .logo_area .util_area .menu .user_wrap .user_list a { display: block; padding: 13px 0; color: #2d2d2d; font-size: 16px; line-height: 20px; font-weight: 400; }

header .logo_area .util_area .menu .user_wrap .user_list .down .down_btn { position: absolute; right: 0; top: 7px; display: inline-block; width: 30px; height: 28px; -webkit-transition: .3s; transition: .3s; background: url(../image/btn/more_btn01.png) center no-repeat; }

header .logo_area .util_area .menu .user_wrap .user_list .down.on .down_btn { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

header .logo_area .util_area .menu .user_wrap .sub_list { display: none; }

header .logo_area .util_area .menu .user_wrap .sub_list a { padding: 9px 0; color: #888; display: block; line-height: 20px; }

header .logo_area .util_area .menu .exit { position: absolute; z-index: 2222; right: 15px; top: 17px; display: block; width: 24px; height: 24px; background-color: red; border: 0; background: url(../image/btn/exit_btn.png) center no-repeat; }

header .logo_area .util_area .search { display: none; position: fixed; z-index: 200; left: 0; top: 0; width: 100%; height: 100vh; background: url(../image/search_bg.jpg) center no-repeat; background-size: cover; -webkit-transition: .3s; transition: .3s; }

header .logo_area .util_area .search.on { display: block; }

header .logo_area .util_area .search .search_wrap { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 100%; height: 45px; }

header .logo_area .util_area .search .search_wrap fieldset { margin: 0 9.72%; position: relative; border-bottom: 2px solid #fff; }

header .logo_area .util_area .search .search_wrap ::-webkit-input-placeholder { color: #fff; font-size: 20px; font-weight: 300; line-height: 43px; letter-spacing: -0.5px; font-family: 'Noto Sans KR', sans-serif; }

header .logo_area .util_area .search .search_wrap :-ms-input-placeholder { color: #fff; font-size: 20px; font-weight: 300; line-height: 43px; letter-spacing: -0.5px; font-family: 'Noto Sans KR', sans-serif; }

header .logo_area .util_area .search .search_wrap ::-ms-input-placeholder { color: #fff; font-size: 20px; font-weight: 300; line-height: 43px; letter-spacing: -0.5px; font-family: 'Noto Sans KR', sans-serif; }

header .logo_area .util_area .search .search_wrap ::placeholder { color: #fff; font-size: 20px; font-weight: 300; line-height: 43px; letter-spacing: -0.5px; font-family: 'Noto Sans KR', sans-serif; }

header .logo_area .util_area .search .search_wrap .srh_txt { padding: 0 6.55% 0 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; outline: 0; background: none; height: 43px; color: #fff; font-size: 20px; font-weight: 300; line-height: 43px; }

header .logo_area .util_area .search .search_wrap .srh_btn02 { position: absolute; right: 0; top: 50%; width: 19px; height: 19px; margin-top: -9px; background: url(../image/btn/srh_btn.png) center/19px auto no-repeat; }

header .logo_area .util_area .search .back_btn { position: absolute; left: 0; top: 0; width: 10px; height: 18px; padding: 18px 4%; background: url(../image/btn/back_btn.png) center/10px auto no-repeat; }

header .logo_area .user_area { display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 5px; }

header .logo_area .user_area > a { display: block; height: 100%; padding: 0 10px; }

header .logo_area .user_area > a > i { display: block; width: 100%; height: 18px; margin-top: 21px; }

header .logo_area .user_area .cart_btn { width: 19px; }

header .logo_area .user_area .cart_btn .ic_cart { background-position: -25px -25px; }

header .logo_area .user_area .mypage_btn { width: 18px; }

header .logo_area .user_area .mypage_btn .ic_mypage { background-position: -25px 0; }

header .cate_area { width: 100%; height: 45px; display: none; background-color: #fff; font-weight: 500; position: relative; }

header .cate_area .nav_wrap { width: calc(100% - 48px); height: 23px; padding: 11px 0 11px 15px; white-space: nowrap; overflow-x: auto; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

header .cate_area .nav_wrap::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

header .cate_area .nav_wrap.on { display: none; }

header .cate_area .nav_wrap .nav_list { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 16px; line-height: 23px; letter-spacing: -0.05em; color: #000; font-weight: 500; height: 100%; }

header .cate_area .nav_wrap .nav_list li + li { margin-left: 15px; }

header .cate_area .more_wrap { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

header .cate_area .more_wrap .more_btn { border: 0; background-color: #fff; background: url(../image/btn/more_btn01.png) center no-repeat; width: 28px; height: 28px; display: inline-block; position: absolute; top: 7px; right: 3px; }

header .cate_area .more_wrap .more_btn.on { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

header .cate_area .more_wrap .more_title { font-size: 16px; line-height: 23px; color: #000; width: 100%; padding: 11px 16px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; display: none; -webkit-transition: .3s; transition: .3s; }

header .cate_area .more_wrap .more_title.on { display: block; }

header .cate_area .more_wrap .more_cont { position: absolute; right: 0; top: 45px; width: 100%; display: none; padding: 6px 12px; max-height: 145px; max-height: -webkit-fit-content; max-height: -moz-fit-content; max-height: fit-content; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F6F6F6; border-top: 1px solid #dcdcdc; }

header .cate_area .more_wrap .more_cont .more_best { display: inline-block; padding: 8px 17px; margin: 3px; border: 1px solid #ebebeb; border-radius: 100px; background-color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; line-height: 20px; color: #000; letter-spacing: -0.05em; }

footer { padding: 40px 0; }

footer .customercenter { color: #555; font-size: 13px; margin-bottom: 15px; font-weight: 700; }

footer .tel { display: block; color: #555; font-size: 18px; margin-bottom: 10px; font-weight: bold; }

footer .time { color: #555; margin-bottom: 30px; font-size: 13px; line-height: 21px; }

footer .ft_sns_wrap { width: 150px; height: 22px; display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .ft_sns_wrap a { display: inline-block; height: 22px; margin-right: 25px; }

footer .ft_sns_wrap a.link_facebook { width: 11px; background: url(../image/sns/facebook.png) center no-repeat; background-size: cover; }

footer .ft_sns_wrap a.link_utube { width: 22px; background: url(../image/sns/utube.png) center no-repeat; background-size: cover; }

footer .ft_sns_wrap a.link_insta { width: 22px; background: url(../image/sns/insta.png) center no-repeat; background-size: cover; }

footer .ft_corp { font-weight: bold; color: #777; margin: 30px 0; font-size: 12px; line-height: 1.7; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

footer .ft_corp a { padding: 9px 10px 9px 0; letter-spacing: -0.5px; }

footer .ft_corp .sidebar::after { content: ''; display: inline-block; width: 1px; height: 10px; background: #ccc; margin-left: 9px; vertical-align: -2px; }

footer address { color: #777; font-size: 11px; line-height: 21px; font-weight: 700; }

footer address a { font-weight: 500; }

footer address span { font-weight: 500; }

footer address .bar { display: inline-block; width: 1px; height: 10px; background: #ccc; margin: 0 5px; vertical-align: -2px; }

footer .copy { color: #777; margin-top: 30px; font-size: 11px; font-weight: bold; }

footer .copy span { font-weight: 500; }

footer .ft_support { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 24px; }

footer .ft_support > a { display: block; margin-right: 22px; }

footer .ft_support .ftc { width: 45px; }

footer .ft_support .symantec { width: 36px; }

footer .ft_support .kg { width: 27px; }
